In [15]:
import numpy as np
import pandas as pd 
from pandas import Series, DataFrame

In [ ]:
mjp= Series([5,4,3,2,1])# a simple series
print(mjp)        # A series is represented by index on the left and values on the right
print (mjp.values) # similar to dictionary. ".values" command returns values in a series

0    5
1    4
2    3
3    2
4    1
dtype: int64
[5 4 3 2 1]

In [ ]:
print (mjp.index) # returns the index values of the series

RangeIndex(start=0, stop=5, step=1)

In [ ]:
sample = Series([5,4,3,2,1,-7,-29], index =['a','b','c','d','e','f','h']) # The index is specified
print (sample) 
print (sample['a']) # selecting a particular value from a Series, by using index

a     5
b     4
c     3
d     2
e     1
f    -7
h   -29
dtype: int64
5

In [ ]:
sample['d'] = 9 # change the value of a particular element in series
print (sample)
sample[['a','b','c']] # select a group of values

a     5
b     4
c     3
d     9
e     1
f    -7
h   -29
dtype: int64

a    5
b    4
c    3
dtype: int64

In [ ]:
print (sample[sample>0]) # returns only the positive values
print (sample *2) # multiplies 2 to each element of a series

a    5
b    4
c    3
d    9
e    1
dtype: int64
a    10
b     8
c     6
d    18
e     2
f   -14
h   -58
dtype: int64

In [ ]:
import numpy as np
np.mean(sample) # you can apply numpy functions to a Series

-2.0

In [ ]:
print ('b' in sample) # checks whether the index is present in Series or not
print ('z' in sample)

True
False

In [ ]:
player_salary ={'Rooney': 50000, 'Messi': 75000, 'Ronaldo': 85000, 'Fabregas':40000, 'Van persie': 67000} 
new_player = Series(player_salary)# converting a dictionary to a series
print (new_player) # the series has keys of a dictionary

Rooney        50000
Messi         75000
Ronaldo       85000
Fabregas      40000
Van persie    67000
dtype: int64

In [ ]:
players =['Klose', 'Messi', 'Ronaldo', 'Van persie', 'Ballack'] 
player_1 =Series(player_salary, index= players)
print (player_1) # I have changed the index of the Series. Since, no value was not found for Klose and Ballack, it appears as NAN

Klose             NaN
Messi         75000.0
Ronaldo       85000.0
Van persie    67000.0
Ballack           NaN
dtype: float64

In [ ]:
pd.isnull(player_1)#checks for Null values in player_1, pd denotes a pandas dataframe

Klose          True
Messi         False
Ronaldo       False
Van persie    False
Ballack        True
dtype: bool

In [ ]:
pd.notnull(player_1)# Checks for null values that are not Null

Klose         False
Messi          True
Ronaldo        True
Van persie     True
Ballack       False
dtype: bool

In [ ]:
player_1.name ='Bundesliga players' # name for the Series
player_1.index.name='Player names' #name of the index
player_1

Player names
Klose             NaN
Messi         75000.0
Ronaldo       85000.0
Van persie    67000.0
Ballack           NaN
Name: Bundesliga players, dtype: float64

In [ ]:
player_1.index =['Neymar', 'Hulk', 'Pirlo', 'Buffon', 'Anderson'] # is used to alter the index of Series
player_1

Neymar          NaN
Hulk        75000.0
Pirlo       85000.0
Buffon      67000.0
Anderson        NaN
Name: Bundesliga players, dtype: float64

In [3]:
states ={'State' :['Gujarat', 'Haryana', ' Delhi', 'Karnataka', 'Kerala'],
                  'Population': [36, 44, 67,89,34],
                  'Language' :['Gujarati', 'Hindi', 'Hindi', 'Kannada', 'Malayalam']}
india = DataFrame(states) # creating a data frame
india

       State  Population   Language
0    Gujarat          36   Gujarati
1    Haryana          44      Hindi
2      Delhi          67      Hindi
3  Karnataka          89    Kannada
4     Kerala          34  Malayalam

In [4]:
DataFrame(states, columns=['State', 'Language', 'Population']) # change the sequence of column index

       State   Language  Population
0    Gujarat   Gujarati          36
1    Haryana      Hindi          44
2      Delhi      Hindi          67
3  Karnataka    Kannada          89
4     Kerala  Malayalam          34

In [6]:
new_farme = DataFrame(states, columns=['State', 'Language', 'Population', 'Per Capita Income'], index =['a','b','c','d','e'])
#if you pass a column that isnt in states, it will appear with Na values

In [8]:
print (new_farme.columns)
print (new_farme['State']) # retrieveing data like dictionary

Index(['State', 'Language', 'Population', 'Per Capita Income'], dtype='object')
a      Gujarat
b      Haryana
c        Delhi
d    Karnataka
e       Kerala
Name: State, dtype: object

In [9]:
new_farme.Population # like Series

a    36
b    44
c    67
d    89
e    34
Name: Population, dtype: int64

In [12]:
new_farme.iloc[3] # rows can be retrieved using .ic function
# here I have retrieved 3rd row

State                Karnataka
Language               Kannada
Population                  89
Per Capita Income          NaN
Name: d, dtype: object

In [13]:
new_farme['Per Capita Income'] = 99 # the empty per capita income column can be assigned a value
new_farme

       State   Language  Population  Per Capita Income
a    Gujarat   Gujarati          36                 99
b    Haryana      Hindi          44                 99
c      Delhi      Hindi          67                 99
d  Karnataka    Kannada          89                 99
e     Kerala  Malayalam          34                 99

In [16]:
new_farme['Per Capita Income'] = np.arange(5) # assigning a value to the last column
new_farme

       State   Language  Population  Per Capita Income
a    Gujarat   Gujarati          36                  0
b    Haryana      Hindi          44                  1
c      Delhi      Hindi          67                  2
d  Karnataka    Kannada          89                  3
e     Kerala  Malayalam          34                  4

In [18]:
new_farme['Development'] = new_farme.State == 'Gujarat'# assigning a new column
print (new_farme)
del new_farme['Development'] # will delete the column 'Development'
new_farme

       State   Language  Population  Per Capita Income  Development
a    Gujarat   Gujarati          36                  0         True
b    Haryana      Hindi          44                  1        False
c      Delhi      Hindi          67                  2        False
d  Karnataka    Kannada          89                  3        False
e     Kerala  Malayalam          34                  4        False

       State   Language  Population  Per Capita Income
a    Gujarat   Gujarati          36                  0
b    Haryana      Hindi          44                  1
c      Delhi      Hindi          67                  2
d  Karnataka    Kannada          89                  3
e     Kerala  Malayalam          34                  4